<form class="form">
    <span class="signup">Crear producto</span>
    <input type="text" placeholder="Nombre del producto" class="form--input" id="title">
    <input type="text" placeholder="descripcion" class="form--input" id="description">
    <input type="number" placeholder="Precio" class="form--input" id="price">
    <input type="number" placeholder="stock" class="form--input" id="stock">
    <input type="text" placeholder="codigo" class="form--input" id="code">
    <input type="text" placeholder="url de la foto" class="form--input" id="thumbnail">
    <button class="form--submit" id="boton">
        Crear producto
    </button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/form.js"></script>